# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.aps

# Executables
*.exe
*.out
*.app
*.pyc

# Exclude build output
**/output/**
**/build/Debug/**
**/build/Release/**
*.log
*.tlog

# Exclude VS files
*.vcxproj.user
*.suo
*.sdf
*.ncf
**/.vs/**

pjproject-1.8.10/**/bin/**
pjsipdll/**/bin/**