name: CI

on:
  pull_request:
    branches: [ master ]
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    env:
      Platform: Win32
      Configuration: Debug-Static
      BuildType: ci
      VERSION_MAJOR: 1
      VERSION_MINOR: 13

    steps:
    - name: Set isCI variable
      shell: bash
      if: |
        github.event_name == 'push' && github.head_ref == 'master'
      run: |
        echo "BuildType=master" >> $GITHUB_ENV

    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    
    - name: Set VERSION_BUILD and VERSION_REVISION
      shell: bash
      run: |
        echo "VERSION_BUILD=${{ github.run_number }}" >> $GITHUB_ENV
        echo "VERSION_REVISION=${{ github.run_id }}" >> $GITHUB_ENV

    - name: Set VERSION variable
      shell: bash
      if: env.BuildType == 'ci'
      run: |
        echo "VERSION=${{ env.VERSION_MAJOR }}.${{ env.VERSION_MINOR }}.${{ env.VERSION_REVISION }}-${{ env.BuildType }}${{ env.VERSION_BUILD }}" >> $GITHUB_ENV

    - name: Set VERSION variable
      shell: bash
      if: env.BuildType == 'master'
      run: |
        echo "VERSION=${{ env.VERSION_MAJOR }}.${{ env.VERSION_MINOR }}.${{ env.VERSION_REVISION }}-${{ env.BuildType }}${{ env.VERSION_BUILD }}" >> $GITHUB_ENV

    - name: Setup NuGet
      uses: nuget/setup-nuget@v1

    - name: Setup .NET Core @ Latest
      uses: actions/setup-dotnet@v1
      with:
        source-url: https://nuget.pkg.github.com/ipphone/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}    

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.3
    
    - name: Build pjsip
      run: msbuild pjproject-1.8.10\pjproject-vs8.sln -t:Build -p:Configuration=${{env.Configuration}} -p:Platform=${{env.Platform}} -p:DefineConstants="VERSION_MAJOR=${{env.VERSION_MAJOR}};VERSION_MINOR=${{env.VERSION_MINOR}};VERSION_REVISION=${{env.VERSION_REVISION}};VERSION_BUILD=${{env.VERSION_BUILD}}"
      #run: msbuild pjsipdll\build\pjsipDll.vcxproj -t:Build -p:Configuration=${{env.Configuration}} -p:Platform=${{env.Platform}} -p:DefineConstants="VERSION_MAJOR=${{env.VERSION_MAJOR}};VERSION_MINOR=${{env.VERSION_MINOR}};VERSION_REVISION=${{env.VERSION_REVISION}};VERSION_BUILD=${{env.VERSION_BUILD}}"

    - name: Add VERSION file
      run: echo "${{ env.VERSION }}" > pjsipdll\bin\VERSION

    - name: Upload build artifacts - pjsipdll
      if: always()
      uses: actions/upload-artifact@v1.0.0
      with:
        name: pjsipdll
        path: pjsipdll\bin

    - name: Setup github package repository
      run: |
        nuget sources add -name "github" -Source https://nuget.pkg.github.com/ipphone/index.json
        nuget setapikey ${{ secrets.GITHUB_TOKEN }} -Source https://nuget.pkg.github.com/ipphone/index.json
    
    - name: Pack&Push NuGet packages
      if: always()
      run: |
        nuget pack pjsipdll\build\IPPhone.pjsipDll.nuspec -Version ${{ env.VERSION }} -Properties Configuration=${{env.Configuration}} -OutputDirectory pjsipdll\out
        nuget push pjsipdll\out\*.nupkg -Source https://nuget.pkg.github.com/ipphone/index.json
